body {
    background: rgba(0, 75, 151, 0.946);
    font: normal 18pt Arial;

}

header {
    text-align: center;
    color: white;

}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 400px;
    margin: auto;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.193);
    
}
div{
    font-size: 30px;
    color: rgba(0, 75, 151, 0.946);
    text-align: center;
    margin: 10px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;

}
